# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/lib/bin/main/UtilitiesToolLib/common/util/*.class
/lib/bin/main/UtilitiesToolLib/*.class
/lib/bin/main/UtilitiesToolLib/common/constant/*.class
/lib/bin/main
